/* start index styles */

/*
1.index styles.
2.universal styles.
3.common styles.
4.content styles.
5.media queries styles.
*/

/* end index styles */

/* start universal styles */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400px;
  line-height: 1.42857143;
  background-color: #191c23;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6.5px;
}

::-webkit-scrollbar-track {
  background-color: #e8dfec;
}

/* hsl(242 88% 56% / 0.8) */
::-webkit-scrollbar-thumb {
  height: 51.2413%;
  background-color: #191c23;
  border-radius: 10px;
}

/* end universal styles */

/* start common styles */
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* end common styles */

/* start content styles */
section {
  height: 100vh;
  display: grid;
  place-items: center;
}

.sectionone__wrapper {
  width: 476px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 14px azure;
}

.front {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 1px solid lightblue;
}

.front > span {
  cursor: pointer;
}

.formcontrol {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.formcontrol > input[type="text"] {
  width: 93%;
  height: 100%;
  border: 0;
  outline: 0;
  font-size: 14px;
  background-color: #f8fbfd;
  border-radius: 5px;
  padding-left: 10px;
}

.formcontrol > i {
  cursor: pointer;
  padding: 10px;
}

.contents {
  overflow-y: auto;
  max-height: 267px;
  padding: 11px 0;
}

.content {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: antiquewhite;
  margin-bottom: 15px;
  padding: 13px;
  border-radius: 5px;
}

.content > span {
  display: block;
  margin-left: auto;
  cursor: pointer;
}

button {
  border: 0;
  outline: 0;
  width: 230px;
  font-size: 16px;
  display: block;
  background-color: transparent;
  cursor: pointer;
  width: 15%;
}

button:hover {
  text-decoration: underline;
}

.todo-edit {
  border: none;
}

.formcontrol input[type="text"] {
  border: none;
  font-style: italic;
  width: 85%;
  padding: 3%;
}

input[type="text"]:focus {
  outline: none;
}

.todo-item {
  padding: 3%;
  border-bottom: 0.6px solid rgb(216, 216, 216);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.remove-btn {
  width: 10%;
}

#clear {
  margin: auto;
  width: 150px;
}
